In [3]:
import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import Point, LineString
df = pd.read_csv("us-counties.csv")

In [4]:
df

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
33246  2020-04-04    Sublette     Wyoming  56035.0      1       0
33247  2020-04-04  Sweetwater     Wyoming  56037.0      4       0
33248  2020-04-04       Teton     Wyoming  56039.0     36       0
33249  2020-04-04       Uinta     Wyoming  56041.0      2       0
33250  2020-04-04    Washakie     Wyoming  56043.0      2       0

[33251 rows x 6 columns]

In [5]:
is_April_4 =  df['date']=='2020-04-04'

In [7]:
curr_df = df[is_April_4]

In [8]:
curr_df

             date      county    state     fips  cases  deaths
30842  2020-04-04     Autauga  Alabama   1001.0     12       0
30843  2020-04-04     Baldwin  Alabama   1003.0     29       1
30844  2020-04-04     Barbour  Alabama   1005.0      2       0
30845  2020-04-04        Bibb  Alabama   1007.0      4       0
30846  2020-04-04      Blount  Alabama   1009.0     10       0
...           ...         ...      ...      ...    ...     ...
33246  2020-04-04    Sublette  Wyoming  56035.0      1       0
33247  2020-04-04  Sweetwater  Wyoming  56037.0      4       0
33248  2020-04-04       Teton  Wyoming  56039.0     36       0
33249  2020-04-04       Uinta  Wyoming  56041.0      2       0
33250  2020-04-04    Washakie  Wyoming  56043.0      2       0

[2409 rows x 6 columns]

In [36]:
import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import Point, LineString
county_dict = {}
index = 0
with open('../county.txt') as fp:
    for cnt, line in enumerate(fp):
        #print(line)
        try:
            line_data = line.split("\t")
            fips = line_data[2]
            lat = float(line_data[12][1:-1])
            lon = float(line_data[13][1:-2])*-1
            county_dict[fips]=(lat, lon)
            index = index+1
        except:
            print(line)
county_dict["00000"] = (40.730610, -73.935242)
county_dict["00001"] = (39.099724, -94.578331)

363	FL	12086	Miami-Dade	Miami	2,496,435	4,915.061	1,897.716	1,381.673	533.467	6,296.734	2,431.183	+25.610494°	–Atlanta°

In [39]:
county_dict['12086']=(25.610494, -80.499045)

In [40]:
len(county_dict.keys())

3145

In [ ]:
# fips, value
#对每一个county， 找周围county的fips
#对于那个fips，找到其值和与原county之间的距离
#做kde算出对于每个county的值
#done

for index, row in curr_df.iterrows():
    if (row['state']!='Hawaii' and row['state']!='Alaska'):
        try:
            curr_fips = str(int(float(row['fips'])))
            if (len(curr_fips)==4):
                curr_fips = "0"+curr_fips
            curr_cases = row['cases']
        except:
            pass